<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>梦幻世界</title>
    <link rel="stylesheet" href="static/css/dream.css" >
</head>
<body>
    <div align="center" id="center">
        <div class="header-container">
            <!-- 头部banner -->
            <div class="banner-container">
                <div class="nav-container">
                    <a href="/" class="back-btn">
                        <img class="arrow">
                    </a>
                    <img class="logo">
                </div>
            </div>

            <!-- 概述 -->
            <div class="overview-container">
                <h1 class="overview-title">
                    梦幻世界
                </h1>
                <img src="https://ybc-online.fbcontent.cn/ada-ide-application/resource/ybc-disney/image/dream.png" class="overview-img">
                <p class="overview-text">
                    梦幻世界共有9个游玩项目，分别为奇幻童话城堡、爱丽丝梦游仙境迷宫、晶彩奇航、漫游童话时光、七个小矮人矿山车、小飞侠天空奇遇、小熊维尼历险记、旋转疯蜜罐、迎宾阁自拍点。
                </p>
            </div>
        </div>
        

        <!-- 项目介绍 -->
        <div class="intro-container">
            <img class="intro-headline">
            <div class="intro-wrapper">
                <div class="intro-box">
                    <div class="img-list">
                        <img src="https://ybc-online.fbcontent.cn/ada-ide-application/resource/ybc-disney/image/dream_1.png" class="intro-img">
                        <div class="intro-text-box">
                            <p class="intro-title">爱丽丝梦游仙境迷宫</p>
                            <p class="intro-article">穿越爱丽丝梦游仙境中蜿蜒的迷宫，参加愉快的疯狂茶会派对。</p>
                        </div>
                    </div>
                </div>
                <div class="intro-box">
                    <div class="img-list">
                        <img src="https://ybc-online.fbcontent.cn/ada-ide-application/resource/ybc-disney/image/dream_2.png" class="intro-img">
                        <div class="intro-text-box">
                            <p class="intro-title">晶彩奇航</p>
                            <p class="intro-article">晶彩奇航将借助音乐、灯光和神奇魔法，为游客呈现迪士尼经典故事。</p>
                        </div>
                    </div>
                </div>
                <div class="intro-box">
                    <div class="img-list">
                        <img src="https://ybc-online.fbcontent.cn/ada-ide-application/resource/ybc-disney/image/dream_3.png" class="intro-img">
                        <div class="intro-text-box">
                            <p class="intro-title">奇幻童话城堡</p>
                            <p class="intro-article">奇幻童话城堡宏伟壮丽，塔尖高耸入云，欢迎各位到来。这里赋予了传奇的迪士尼故事无限生命力。</p>
                        </div>
                    </div>
                </div>
                <div class="intro-box">
                    <div class="img-list">
                        <img src="https://ybc-online.fbcontent.cn/ada-ide-application/resource/ybc-disney/image/dream_4.png" class="intro-img">
                        <div class="intro-text-box">
                            <p class="intro-title">漫游童话时光</p>
                            <p class="intro-article">穿过魔镜，进入奇幻世界：白雪公主的童话世界</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
