
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>探险岛</title>
    <link rel="stylesheet" href="static/css/explore.css" >
</head>
<body>
    <div align="center" id="center">
        <div class="header-container">
            <!-- 头部banner -->
            <div class="banner-container">
                <div class="nav-container">
                    <a href="/" class="back-btn">
                        <img class="arrow">
                    </a>
                    <img class="logo">
                </div>
            </div>

            <!-- 概述 -->
            <div class="overview-container">
                <h1 class="overview-title">
                    探险岛
                </h1>
                <img src="https://ybc-online.fbcontent.cn/ada-ide-application/resource/ybc-disney/image/explore.png" class="overview-img">
                <p class="overview-text">
                    探险岛位于上海迪士尼乐园东南部，共有4个游玩项目，分别为翱翔·飞跃地平线、欢笑聚友会自拍点、雷鸣山漂流、古迹探寻营。
                </p>
            </div>
        </div>
        

        <!-- 项目介绍 -->
        <div class="intro-container">
            <img class="intro-headline">
            <div class="intro-wrapper">
                <div class="intro-box">
                    <div class="img-list">
                        <img src="https://ybc-online.fbcontent.cn/ada-ide-application/resource/ybc-disney/image/explore_1.png" class="intro-img">
                        <div class="intro-text-box">
                            <p class="intro-title">翱翔•飞越地平线</p>
                            <p class="intro-article">来一场令人兴奋的飞行，以前所未有的方式见证这个神奇的世界吧！</p>
                        </div>
                    </div>
                </div>
                <div class="intro-box">
                    <div class="img-list">
                        <img src="https://ybc-online.fbcontent.cn/ada-ide-application/resource/ybc-disney/image/explore_2.png" class="intro-img">
                        <div class="intro-text-box">
                            <p class="intro-title">古迹探索营</p>
                            <p class="intro-article">在探索探险岛的过程中，穿越绳索挑战道，踏上探索步行道，发掘部落遗迹。</p>
                        </div>
                    </div>
                </div>
                <div class="intro-box">
                    <div class="img-list">
                        <img src="https://ybc-online.fbcontent.cn/ada-ide-application/resource/ybc-disney/image/explore_3.png" class="intro-img">
                        <div class="intro-text-box">
                            <p class="intro-title">欢笑聚友会</p>
                            <p class="intro-article">在地球上最大、最深、最蓝的海洋中，有一座被丛林覆盖的岛屿。您可能会在岛上的旅途中遇到一些丛林故事里的可爱迪士尼朋友，比如来自《丛林故事》、《狮子王》, 甚至可能在现场与《疯狂动物城》中的朋友见面！</p>
                        </div>
                    </div>
                </div>
                <div class="intro-box">
                    <div class="img-list">
                        <img src="https://ybc-online.fbcontent.cn/ada-ide-application/resource/ybc-disney/image/explore_4.png" class="intro-img">
                        <div class="intro-text-box">
                            <p class="intro-title">雷鸣山漂流</p>
                            <p class="intro-article">踏上刺激的漂筏之旅，深入黑暗的深渊，和凶猛的巨兽赛跑， 在激流中辗转翻腾。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
