
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>奇妙花园</title>
    <link rel="stylesheet" href="static/css/garden.css">
</head>
<body>
    <div align="center" id="center">
        <div class="header-container">
            <!-- 头部banner -->
            <div class="banner-container">
                <div class="nav-container">
                    <a href="/" class="back-btn">
                        <img class="arrow">
                    </a>
                    <img class="logo">
                </div>
            </div>

            <!-- 概述 -->
            <div class="overview-container">
                <h1 class="overview-title">
                    奇想花园
                </h1>
                <img src="https://ybc-online.fbcontent.cn/ada-ide-application/resource/ybc-disney/image/garden.png" class="overview-img">
                <p class="overview-text">
                    奇想花园位于上海迪士尼乐园北部，共有4个游玩项目，分别为幻想曲旋转木马、漫威英雄总部、 小飞象、奇想花园自拍点
                </p>
            </div>
        </div>
        

        <!-- 项目介绍 -->
        <div class="intro-container">
            <img class="intro-headline">
            <div class="intro-wrapper">
                <div class="intro-box">
                    <div class="img-list">
                        <img src="https://ybc-online.fbcontent.cn/ada-ide-application/resource/ybc-disney/image/garden_1.png" class="intro-img">
                        <div class="intro-text-box">
                            <p class="intro-title">小飞象</p>
                            <p class="intro-article">乘着小飞象在空中尽情飞翔！他是奇想花园冉冉升起的超级明星。</p>
                        </div>
                    </div>
                </div>
                <div class="intro-box">
                    <div class="img-list">
                        <img src="https://ybc-online.fbcontent.cn/ada-ide-application/resource/ybc-disney/image/garden_2.png" class="intro-img">
                        <div class="intro-text-box">
                            <p class="intro-title">漫威英雄总部</p>
                            <p class="intro-article">探索这一囊括全球诸多伟大超级英雄的广阔世界！所有这些优秀勇敢的战士在漫威电影世界中都享有尊崇地位，在漫威漫画中皆有根可循。</p>
                        </div>
                    </div>
                </div>
                <div class="intro-box">
                    <div class="img-list">
                        <img src="https://ybc-online.fbcontent.cn/ada-ide-application/resource/ybc-disney/image/garden_3.png" class="intro-img">
                        <div class="intro-text-box">
                            <p class="intro-title">幻想曲旋转木马</p>
                            <p class="intro-article">乘坐飞马，伴随迪士尼《幻想曲》中恢弘大气的交响乐，回旋在梦幻的世界里。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

