
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>迪士尼乐园</title>
    <link rel="stylesheet" href="static/css/index.css" >
</head>
<body>
    <div align="center" id="center">
        <!-- 头部banner -->
        <div class="banner-container">
            <div class="nav-container">
                <img src="./static/image/white-logo.png" class="logo">
            </div>
            <!-- 概述 -->
            <div class="overview-container">
                <h1 class="overview-title">
                    上海迪士尼乐园
                </h1>
                <h2 class="overview-english-title">Shanghai Disney Resort</h2>
                <p class="overview-text">
                    上海迪士尼乐园，位于上海市浦东新区，是中国内地首座迪士尼主题乐园，它具有纯正迪士尼风格并融汇了中国风。占地1.16平方公里，主题园区分为米奇大街、奇想花园、探险岛、宝藏湾、明日世界、梦幻世界、迪士尼·皮克斯玩具总动员。拥有迪士尼城堡、漫威英雄总部、巴斯光年星际营救等游乐项目。
                </p>
            </div>
        </div>

        <!-- 项目介绍 -->
        <div class="preview-container">
            <img src="./static/image/index-theme-img.png">
            <div class="map-container">
                <div class="map-boby">
                    <img src="./static/image/map.png">
                </div>

                    <div class="map-icon dream">
                        <a href="/dream">
                            <img src="../static/image/dream_icon.png">
                        </a>
                    </div>
                    <div class="map-icon explore">
                        <a href="/explore">
                            <img src="../static/image/explore_icon.png">
                        </a>
                    </div>
                    <div class="map-icon garden">
                        <a href="/garden">
                            <img src="../static/image/garden_icon.png">
                        </a>
                    </div>
                    <div class="map-icon mickey">
                        <a href="/mickey">
                            <img src="../static/image/mickey_icon.png">
                        </a>
                    </div>
                    <div class="map-icon tomorrow">
                        <a href="/tomorrow">
                            <img src="../static/image/tomorrow_icon.png">
                        </a>
                    </div>
                    <div class="map-icon toyStory">
                        <a href="/toyStory">
                            <img src="../static/image/toyStory_icon.png">
                        </a>
                    </div>
                    <div class="map-icon treasure">
                        <a href="/treasure">
                            <img src="../static/image/treasure_icon.png">
                        </a>
                    </div>

            </div>
        </div>
    </div>
</body>
</html>
