
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>米奇大街</title>
    <link rel="stylesheet" href="static/css/mickey.css" >
</head>
<body>
    <div align="center" id="center">
        <div class="header-container">
            <!-- 头部banner -->
            <div class="banner-container">
                <div class="nav-container">
                    <a href="/" class="back-btn">
                        <img class="arrow">
                    </a>
                    <img class="logo">
                </div>
            </div>

            <!-- 概述 -->
            <div class="overview-container">
                <h1 class="overview-title">
                    米奇大街
                </h1>
                <img src="https://ybc-online.fbcontent.cn/ada-ide-application/resource/ybc-disney/image/mickey.png" class="overview-img">
                <p class="overview-text">
                    欢迎来到照明娱乐的小黄人乐园，这是一个充满欢乐的缤纷世界！此刻这些调皮的小黄人正在街区、港口和市中心走街串巷，无拘无束地满世界撒欢！
                </p>
            </div>
        </div>
        

        <!-- 项目介绍 -->
        <div class="intro-container">
            <img class="intro-headline">
            <div class="intro-wrapper">
                <div class="intro-box">
                    <div class="img-list">
                        <img src="https://ybc-online.fbcontent.cn/ada-ide-application/resource/ybc-disney/image/mickey_1.png" class="intro-img">
                        <div class="intro-text-box">
                            <p class="intro-title">米奇妙游童话书</p>
                            <p class="intro-article">以独特的故事和音乐曲目，将大家带入米奇和高飞的奇妙探险中。沉浸式的现场演绎，近距离欣赏耳熟能详的迪士尼歌曲，与23位挚爱的迪士尼朋友们一起欢唱。</p>
                        </div>
                    </div>
                </div>
                <div class="intro-box">
                    <div class="img-list">
                        <img src="https://ybc-online.fbcontent.cn/ada-ide-application/resource/ybc-disney/image/mickey_2.png" class="intro-img">
                        <div class="intro-text-box">
                            <p class="intro-title">迪士尼乐团</p>
                            <p class="intro-article">乐团成员都是严肃的音乐家，但他们也有令人忍俊不禁的一面，非常适合在氛围友好、热闹非凡的米奇大街上为大家表演。他们用传统的仪仗队乐器，同时辅以口哨、卡祖笛和中式乐器的演奏，定会让您惊喜连连。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="intro-box">
                    <div class="img-list">
                        <img src="https://ybc-online.fbcontent.cn/ada-ide-application/resource/ybc-disney/image/mickey_3.png" class="intro-img">
                        <div class="intro-text-box">
                            <p class="intro-title">米奇大街自拍点</p>
                            <p class="intro-article">一定不要错过充满活力的《欢乐好声音》巡演，这可是一场无论男女老少都会为之“疯狂”的音乐剧演出！你不仅可以看到喜欢的“超级明星”角色，还可以与他们一起放声高歌，尽情欢唱。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
