
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>明日世界</title>
    <link rel="stylesheet" href="static/css/tomorrow.css" >
</head>
<body>
    <div align="center" id="center">
        <div class="header-container">
            <!-- 头部banner -->
            <div class="banner-container">
                <div class="nav-container">
                    <a href="/" class="back-btn">
                        <img class="arrow">
                    </a>
                    <img class="logo">
                </div>
            </div>

            <!-- 概述 -->
            <div class="overview-container">
                <h1 class="overview-title">
                    明日世界
                </h1>
                <img src="https://ybc-online.fbcontent.cn/ada-ide-application/resource/ybc-disney/image/tomorrow.png" class="overview-img">
                <p class="overview-text">
                    明日世界位于上海迪士尼乐园西北部，共有5个游玩项目，分别为巴斯光年星际营救、创速极光轮—雪佛兰呈献、 创界：雪佛兰数字挑战、喷气背包飞行器、太空幸会史迪奇。
                </p>
            </div>
        </div>
        

        <!-- 项目介绍 -->
        <div class="intro-container">
            <img class="intro-headline">
            <div class="intro-wrapper">
                <div class="intro-box">
                    <div class="img-list">
                        <img src="https://ybc-online.fbcontent.cn/ada-ide-application/resource/ybc-disney/image/tomorrow_1.png" class="intro-img">
                        <div class="intro-text-box">
                            <p class="intro-title">巴斯光年星际营救</p>
                            <p class="intro-article">投身战斗，竭尽全力消灭索克天王手下骇人的机器人部队，拯救外星人的星球！</p>
                        </div>
                    </div>
                </div>
                <div class="intro-box">
                    <div class="img-list">
                        <img src="https://ybc-online.fbcontent.cn/ada-ide-application/resource/ybc-disney/image/tomorrow_2.png" class="intro-img">
                        <div class="intro-text-box">
                            <p class="intro-title">创速极光轮</p>
                            <p class="intro-article">进入“创”的电子网络世界，随着极速光轮、极速转向，全力奔驰吧！</p>
                        </div>
                    </div>
                </div>
                <div class="intro-box">
                    <div class="img-list">
                        <img src="https://ybc-online.fbcontent.cn/ada-ide-application/resource/ybc-disney/image/tomorrow_3.png" class="intro-img">
                        <div class="intro-text-box">
                            <p class="intro-title">雪佛兰数字挑战</p>
                            <p class="intro-article">探索奇妙的未来驾驶世界，游客们在这里能体验全新一代雪佛兰概念车与创世界尖端技术的融合。</p>
                        </div>
                    </div>
                </div>
                <div class="intro-box">
                    <div class="img-list">
                        <img src="https://ybc-online.fbcontent.cn/ada-ide-application/resource/ybc-disney/image/tomorrow_4.png" class="intro-img">
                        <div class="intro-text-box">
                            <p class="intro-title">喷气背包飞行器</p>
                            <p class="intro-article">准备好，背上喷气背包飞行器，在明日世界的高空中俯冲盘旋，如果您曾幻想来一场单人飞行之旅，来试试明日世界的交通方式——宇宙探险之旅将让您叹为观止。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
