
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>玩具总动员</title>
    <link rel="stylesheet" href="static/css/toyStory.css" >
</head>
<body>
    <div align="center" id="center">
        <div class="header-container">
            <!-- 头部banner -->
            <div class="banner-container">
                <div class="nav-container">
                    <a href="/" class="back-btn">
                        <img class="arrow">
                    </a>
                    <img class="logo">
                </div>
            </div>

            <!-- 概述 -->
            <div class="overview-container">
                <h1 class="overview-title">
                    玩具总动员
                </h1>
                <img src="https://ybc-online.fbcontent.cn/ada-ide-application/resource/ybc-disney/image/toyStory.png" class="overview-img">
                <p class="overview-text">
                    迪士尼·皮克斯玩具总动员位于上海迪士尼乐园西北部，共有3个游玩项目，分别为抱抱龙冲天赛车、弹簧狗团团转、胡迪牛仔嘉年华。
                </p>
            </div>
        </div>
        

        <!-- 项目介绍 -->
        <div class="intro-container">
            <img class="intro-headline">
            <div class="intro-wrapper">
                <div class="intro-box">
                    <div class="img-list">
                        <img src="https://ybc-online.fbcontent.cn/ada-ide-application/resource/ybc-disney/image/toyStory_1.png" class="intro-img">
                        <div class="intro-text-box">
                            <p class="intro-title">抱抱龙冲天赛车</p>
                            <p class="intro-article">在好朋友三角龙特蕾西的帮助下，抱抱龙将邀请大家坐上遥控冲天赛车，在长长的“U”型轨道上开启一段精彩刺激的冒险旅程</p>
                        </div>
                    </div>
                </div>
                <div class="intro-box">
                    <div class="img-list">
                        <img src="https://ybc-online.fbcontent.cn/ada-ide-application/resource/ybc-disney/image/toyStory_2.png" class="intro-img">
                        <div class="intro-text-box">
                            <p class="intro-title">弹簧狗团团转胡迪牛仔嘉年华</p>
                            <p class="intro-article">坐上弹簧狗的螺旋形弹簧，和他一起欢快地围着一个盛满了玩具骨头的大狗盘绕圈。</p>
                        </div>
                    </div>
                </div>
                <div class="intro-box">
                    <div class="img-list">
                        <img src="https://ybc-online.fbcontent.cn/ada-ide-application/resource/ybc-disney/image/toyStory_3.png" class="intro-img">
                        <div class="intro-text-box">
                            <p class="intro-title">胡迪牛仔嘉年华</p>
                            <p class="intro-article">跳上怀旧的西部马车，让小马们拉着你，踏着欢快的音乐，一同摇摆。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
